<h2>Bookmark List</h2>
<table class="table table-striped table-bordered table-hover table-sm">
  <thead class="thead-dark">
    <tr>
      <th scope="row">NAME</th>
      <th scope="row">URL</th>
      <th scope="row">DESCRIPTION</th>
      <th scope="row">TAGS</th>
      <th scope="row">ACTIONS</th>
    </tr>
  </thead>
  <tr *ngFor="let bookmark of bookmarks | async">
    <td>{{ bookmark.name }}</td>
    <td><a [href]=bookmark.url>{{ bookmark.url }}</a></td>
    <td>{{ bookmark.description }}</td>
    <td>{{ bookmark.tags }}</td>
    <td>
      <button class="btn btn-warning  btn-block" (click)="update(bookmark)">
        <i class="fa fa-edit"></i>
      </button>
      <button class="btn btn-danger btn-block" (click)="delete(bookmark.id)">
        <i class="fa fa-trash"></i>
      </button>
    </td>
  </tr>
</table>