<h2>Bookmark List</h2>
<div class="row d-none">
  <div class="col-md-12">
    <div class="form-group">
      <div class="row">
        <div class="col-md-10">
          <input class="form-control" type="text" name="search" id="search" (keyup)="searchByTag($event.target.value)">
        </div>
        <div class="col-md-2">
          <button class="btn btn-default btn-block">Pesquisar</button>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="card-columns">
      <div class="card" *ngFor="let bookmark of bookmarks | async">
        <div class="card-body">
          <h5 class="card-title">{{ bookmark.name }}</h5>
          <p class="card-text">{{ bookmark.description }}</p>
          <p class="card-text"><small>{{ bookmark.tags }}</small></p>
          <a [href]=bookmark.url target="_blank" class="btn btn-block btn-primary">Go</a>
          <span *ngIf="enableEditAndDelete">
            <button class="btn btn-warning  btn-block" (click)="update(bookmark)">
              <i class="fa fa-edit"></i>
            </button>
            <button class="btn btn-danger btn-block" (click)="delete(bookmark.id)">
              <i class="fa fa-trash"></i>
            </button>
          </span>
        </div>
      </div>
    </div>
  </div>
</div>